# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
TruckWebSite/TruckWebSite/TruckWebSite.csproj
TruckWebSite/TruckWebSite/TruckWebSite.csproj
TruckWebSite/.vs/TruckWebSite/v14/.suo
*.suo
TruckWebSite/TruckWebSite/TruckWebSite.csproj
TruckWebSite/TruckWebSite/Web.config
TruckWebSite/TruckWebSite/obj/Debug/TruckWebSite.pdb
TruckWebSite/TruckWebSite/obj/Debug/TruckWebSite.dll
TruckWebSite/TruckWebSite/obj/Debug/TruckWebSite.csprojResolveAssemblyReference.cache
TruckWebSite/TruckWebSite/obj/Debug/TruckWebSite.csproj.FileListAbsolute.txt
TruckWebSite/TruckWebSite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TruckWebSite/TruckWebSite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
TruckWebSite/TruckWebSite/bin/TruckWebSite.dll
